*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*~*
*.keystroke
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
fastlane/
fastlane/report.xml
Gemfile.lock
obj/
libs/
proguard/
.settings/
.classpath
.project
*.ipr
*.iws
.idea/
libraries/
iosApp/Podfile.lock
iosApp/Pods/
AGENTS.md
iosApp/SportEasy.xcworkspace/xcshareddata/swiftpm/Package.resolved
article